html{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
}

.top-container {
    margin-left: 30px;
    font-weight: 700;
    font-size: 30px;
    margin-top: 10px;
    display: flex;
}
.top-container{
    margin-top: 15px;
}
.top-container-left {
    display: flex;
    align-items: center; /* Aligns icon and text vertically */;
}
.top-container-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.top-container-center input{
    width: 400px;
    height: 40px;
    border: 0;
    background-color: transparent;
    outline: none;
    
}
.top-container-center button{
    background-color: transparent;
    border: 0;
    transition: background-color 0.3s ease;
    padding-right: 5px;
    cursor: pointer;
}
.top-container-center button:hover{
    background-color: #e0e0e0;
    color: rgb(45, 45, 211);
}
.top-container-center form{
    background-color: #f5f5f5;
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}
.top-container-center form:focus-within{
    box-shadow: 0 0 0 2px rgb(0, 0, 0);
}


.sidebar {
    position: fixed;
    top: 0;
    right: 0; /* Aligns the sidebar to the right edge of the screen */
    width: 250px;
    height: 100%;
    background-color: #f0f0f0;
    transform: translateX(100%);
    transition: transform 0.3s ease;

    display: block;
    text-align: center;
    color: white;
    z-index: 10;
}

.sidebar button{
    position: fixed;
    top: 20px;
    right: 260px;
    cursor: pointer;
    transition: right 0.3s ease;

    background-color: transparent;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s ease;
    transition: box-shadow 0.3s ease;
    
}


.sidebar button:hover{
    background-color: #e0e0e0;
    box-shadow: 0 0 0 2px rgb(0, 0, 0);
    color: rgb(45, 45, 211);
}


.sidebar.active{
    transform: translateX(0); /* Moves the sidebar into view */
}
.sidebar-button{
    transform: translateX(0);
}

.sidebar-content{
    margin: 20px;
    font-size: 18px;
}
.sidebar-content li{
    margin: 15px 0;
}
.sidebar-content a{
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
.sidebar-content a:hover {
    background-color: #1f3b61;
    color: #fff;
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    margin: 50px auto;
    height: 300px;
}
.login form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    
}

.login input{
    width: 100%;
    height: 30px;
    margin-top: 10px;
}

.login button{
    margin-top: 40px;
    border: none;
    background-color: transparent;
    transition: background-color 0.3s ease;
    transition: box-shadow 0.3s ease;
    cursor: pointer;

}

.login button:hover{
    border-radius: 3px;
    background-color: #e0e0e0;
    box-shadow: 0 0 0 2px rgb(0, 0, 0);
    color: rgb(45, 45, 211);
}

.card-container{
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}
.car-card{
    width: 200px;
    height: 250px;
    background-color: transparent;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 0 2px rgb(0, 0, 0);
    position: relative;
    transition: background-color 0.3s, color 0.3s;
}
.car-card:hover{
    background-color: #e0e0e0;
    border-radius: 5px;
}
.car-card img{
    width: 100%;
    height: 70%;
}
.car-card a{
    width: 100%;
    height: 100%;
    display: block;
}
.car-info h3{
    margin: 0;
    text-align: center;
}
.car-info ul{
    position: absolute;
    bottom: 0px; /* Adjust to overlap slightly */
    right: 15px; /* Keep some spacing from the left */
    font-weight: bold;
    font-size: 13px; 
}
.car-info li{
    list-style-type:disc;
}
.price{
    position: absolute;
    bottom: -10px;
    left: 10px;
    background-color: green;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;

}
nav{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    padding: 10px 0;
    width: 100%;
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    overflow: hidden;
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: transparent;
    box-shadow: 0 0 0 1px rgb(0, 0, 0);
    border-radius: 5px;
}
nav li a{
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center;     /* Centers content vertically */
    transition: background-color 0.3s ease;
}
nav li a:hover{
    background-color: #e0e0e0;
    color: rgb(45, 45, 211);
}

.CardPage-container{
    margin: 20px;
    display: flex;
    flex-direction: row;
    position: relative;

}
.img-container{
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
}

.main-img{
    border: black solid 3px;
    border-radius: 5px;
    width: 750px;
    height: 500px;
}

.small-img-container{
    display: flex;
    flex-direction: row;
    width: 750px;
    overflow-x: scroll;
}

.small-img{
    border: black solid 3px;
    border-radius: 5px;
    width: 150px;
    height: 100px;
    margin: 10px;
}

.cardPage-info{
    display: flex;
    flex: 1;
    flex-flow: column;
}
.carPage-specifications{
    margin-top: 80px;
}

.carPage-specifications li {
    font-size: 15px;
    color: #555;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    margin-left: -70px;
    position: relative;
}

.carPage-specifications li span {
    font-weight: bold;
    color: #333;
    position: absolute;
    left: 50%;
}

.cardPage-info h2{
    margin: 0;
}

.contact-info {
    margin-top: 100px;
}
.contact-info li{
    margin: 5px;
    color: gray;
    font-size: 20px;
}

.contact-info li span{
    color: black;
    font-size: 20px;
}
.cardPage-betting-info{
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 20px;
    
}
.cardPage-betting-info h2{
    margin: 30px;
}
.cardPage-betting-info h2 span{
    color: green;
}

.cardPage-betting{
    display: flex;
    justify-content: center;
}
.cardPage-betting button{
    margin-top: -30px;
    width: 200px;
    height: 60px;
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}